<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='d:\Documents\Visual Studio 2017\Projects\VIP课程练习\Homework1\Homework1.mdf';Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="IDBHelperConfig" value="DAL.SqlHelper,DAL"/>
  </appSettings>
</configuration>